                                                    /* ESTRUCTURAS PARA TODAS LAS LANDING PAGE (HEADER Y FOOTER) */
/* _________________________________________________________________________________________________________________________________________________________________________________ */

/* importacion de fuentes o fonts desde google */
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Fredericka+the+Great&family=Libre+Barcode+39+Text&family=Orbitron:wght@500&family=Staatliches&display=swap');

/* _________________________________________________________________________________________________________________________________________________________________________________ */

/* reseteo de valores predeterminado para quitar margenes, padding y bordes*/
*{margin:0; padding:0;box-sizing: border-box;}
/* _________________________________________________________________________________________________________________________________________________________________________________ */

/* quita decoracion y cambiar color a los enlaces  */
a{text-decoration: none;color: black;}
/* _________________________________________________________________________________________________________________________________________________________________________________ */

/* ________________________________________________________HEADER__________________________________________________________________ */
.header{
    /* border: groove 2px gray; */    
    /* height: 150px; */
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    border-radius: 25px;   
    margin: 15px 2%;   
    align-items: center;
    background-color: white;

}
.logo{
    width: 150px;
    height: 150px;
    margin: 5px 5px;
    padding: 10px 10px;
    flex-grow: 1 ;
    
}
.title {
text-align: center;
flex-grow: 3;
}
.title h1{
    font-size: 80px;
    font-family: Fredericka the Great; 
}
.title p{
    font-family:staatliches;
}
/* etiqyeta span para dar apariencia de bandera al titulo de la pagina */
.yellow{color:#FFCD00;} .blue{color:rgb(0,48,135) ;} .red{color:red ;}

/* Menu de navegacion */
.menu{
    list-style: none; /* quitamos el estilo de la lista */
    display:flex ;
    gap: 10px;
    font-family:orbitron;
    margin-right: 20px;
    justify-content: flex-end;
}
.menu_Item:hover{
    color: white;
    background-image: linear-gradient(rgb(255, 205, 0), rgb(0,48,135), rgb(255, 0, 0));
    
}
/* ______________________________FOOTER___________________________________________________________________________________________ */


/* redes sociales (logos y enlaces) */
.social{
    display: flex;
    background-color: white;
    justify-content: center;
    gap: 20px;
    /* border: solid 2px  black; */
    width: 100%;
    height: 80px;
    margin: 15px 5%;
    border-radius: 25px; 
      
}

.social img{
    width: 50px;
    height: 50px;
    margin: 1em auto;  
      
}

/* ___________________________________________INDEX_________________________________________________________________________________________________________________________ */



/* seccion banner */
/* agregando fondo y tamaño */
.banner{
    background-image: url(../images/imagenes/frutasycereal.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* height: 50em; */
    margin-top: 0;

 
}

/* texto del banner */
.title__banner{
    font-size: 50px;
    font-style: oblique;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 250px;
    
}
/* _________________________________________________________________________________________________________________________________________________________________________________ */
/* seccion productos */
.products{
    width: 100%;
    height: auto;
    
    margin: 0;
    
}
/* _________________________________________________________________________________________________________________________________________________________________________________ */
.carrousel{
    display: flex;
    flex-wrap: wrap;

   
}
/* titulo de productos */
.titleProducts{
    font-family:Orbitron;
    font-size: 20px;
    text-align: center;
}
/* carrusel de imagenes de productos */
.item__carrousel{
    width: 100px;
    height: 100px;
    /* border: groove 2px gray; */
    display: inline-block;
    margin: 50px;
   
    
}
/* imagenes del carrousel */
.item__carrousel img{
    width: 100px;
    height: 100px;
    
}

/* _________________________________________________________________________________________________________________________________________________________________________________ */



}
/* ____________________________________________________COMENTARIOS Y VIDEO_____________________________________________________________________ */



/* ____________________________________________________COMENTARIOS _____________________________________________________________________ */
.comentarioYvideo{    
    width: 100%;
    display: flex;
    display: inline-block;
}
.contenedorcomentario{
    width: 50%;    
    display:inline-block ;
    margin: 50px;
    
}
.contenedorcomentario h2{
    text-align: center;
    font-family: fantasy;
}
.comentario{
    display: flex;
    width: auto;
}
.comentario img{
    width: 100px;
    
}
.formulario{
    display: flex;
    justify-content: center;
}
.formulario form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    /* ____________________________________________________VIDEO_____________________________________________________________________ */
    
    .video{
        border: #FFCD00 1px solid;
        width: 50%;
        /* height: 300px; */
        display: flex;    
        display: inline-block;
        margin: 50px;
}
.video h2{
    text-align: center;
    font-family: fantasy;
}
/* ____________________________________________________NOSOTROS_____________________________________________________________________ */

.nosotros{
    width: 100%;
    
    margin-top: 100px;
}
.quienesSomos{
    width: 100%;
    display: flex;
    display: inline-block;
}
.nosotros h2{
    text-align: center;
    font-family: fantasy;
}

.uno{
    display: flex;
    flex-direction: row;
    margin: 50px;
    padding: 50px;
}
.dos{
    flex-direction: row-reverse;
}


.uno p{
    width: 50%;
    padding: 100px;
    text-align: center;

}
.uno img{
    width: 50%;

}
.mision{
    width: 100%;
    
}
.vision{
    width: 100%;
    
}
    /* ____________________________________________________NOSOTROS_____________________________________________________________________ */
    
    .productos{
    display: flex;
    width: 100%;
    margin: 50px 5%;

}
.menuProductos{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 200px;
    border: 1px solid black;
}

.products{
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
}
.menuProductos ul{
    list-style: none;
    display: flex;    
    flex-flow: column nowrap;
    align-items: center;   
    
}
.cards{
    display: flex;
    width: 100px;
    height: 100px;
}

/* ____________________________________________________CONTACTO_____________________________________________________________________ */

.contact{
 display: flex;
 width: 100%;
 border: 50px;
 margin: 50px auto;
 flex-direction: column;
 align-items: center;

}
.sectionContact h2{
    text-align: center;
    font-family: fantasy;
}

.form form{
    display: flex;
    flex-direction: column;
}

.otherContacts{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px auto 100px;
    
}

.otherContacts img{
    width:100px;
}
.otherContacts p{
    text-align: center;
    font-family: fantasy;
}
.item 1{
    width: 400px;
}

