/* reseteo de valores predeterminado 
    quitar margenes, padding y bordes*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* quitar decoracion y cambiar color a los enlaces  */
a{
    text-decoration: none;
    color: black;
}








/* header */ 
.header{
    /* border: groove 2px gray;    */
    display: flex;
    margin: 10px;
   padding: 20px;
   justify-content: space-around;
   align-items: center;

}

.logoConten{
    width: 200px;
    height: 200px;
    display: inline-block;
}

.logo{
    width: 200px;
    height: 200px;
}
.title {
text-align: center;
}
.title h1{
    font-size: 80px;
}
.yellow{color:#FFCD00;} .blue{color:rgb(0,48,135) ;} .red{color:red ;}
/* quitamos el estilo de la lista */
.menu{
    list-style: none;
    display: flex ;
    gap: 40px;

}

/* seccion banner */
/* agregando fondo y tamaño */
.banner{
    width: 100%;
    height: 500px;
    background-image: url(/images/mushrooms-3069822_640.jpg);
    background-size:cover;
}
/* texto del banner */
.title__banner{
    font-size: 100px;
    color: aliceblue;
    text-align: center;
    padding: 200px;
}


.list_nav{
     
}




/* footer */
footer{
    background-color: black; 
    margin: 0px 0px 0px 0px;

}